@{
    ViewData["Title"] = "Home Page";
}

<h1>
    Welcome to custom OWIN middleware component !!!
    
    <br />
    <br />
       Culture: @CultureInfo.CurrentCulture.DisplayName <br />
       Time: <span>@DateTime.Now.ToString()</span>
    <br />
    <br />    
</h1>
